$padding-margin: 20px;


.initial-joke {
  margin: $padding-margin auto;
  padding: $padding-margin;
  text-align: center;
  border: 1px dotted white;
  width: 80%;
}

.chuck-butt {
  text-align: center;
}
